*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(47, 47, 47);
}

.container{
    display:flex;
    flex-wrap: wrap;
    width: 860px;
    margin: 0 auto;
    gap: 4px;
}

.square{
    height: 50px;
    background-color:white;
    flex: 0 1 50px;
}

.over{
    background-color:black;
}

